# 合并井1井3
用清洗好的数据即可，将标签进行更改，可能溢流为0.5，油水侵为1，气侵为2，然后onehot编码即可！
然后按照这个来调整超参数

https://www.bilibili.com/video/BV1EE41167is?t=1971.7

In [1]:
import numpy as np
import pandas as pd

In [2]:
readpath = r'/home/klmyty/code/ML/data/溢流数据_clean/清洗后数据1_溢流.csv'
df = pd.read_csv(readpath,encoding='GBK')
df

,时间,井深(8004) m,钻头位置(8005) m,迟到井深(8006) m,大钩高度(8008) m,大钩负荷(8010) kN,钻压(8011) kN,转盘转速(8012) RPM,扭矩(8013) kN.m,立管压力(8018) MPa,...,硫化氢4(8210) ppm,甲烷(8212) %,全烃(8219) %,流量差,累计流量,总池体积差,工况,时间.1,index,溢流
0,2020-01-08 14:00:56,3023.54,1719.02,3023.5,5.46742,228.40900,0.000,0.0,0.0,0.0,...,0.0,0.06780,0.06780,0.00000,0.000000,0.00000,起钻,2020-01-08 14:00:56,0,0.0
1,2020-01-08 14:00:59,3023.54,1719.02,3023.5,5.44833,256.32600,0.000,0.0,0.0,0.0,...,0.0,0.06780,0.06780,0.00008,0.000000,0.07200,起钻,2020-01-08 14:00:59,1,0.0
2,2020-01-08 14:01:02,3023.54,1719.02,3023.5,5.31942,239.40600,0.000,0.0,0.0,0.0,...,0.0,0.06780,0.06780,-0.00001,0.000080,0.26399,起钻,2020-01-08 14:01:02,2,0.0
3,2020-01-08 14:01:05,3023.54,1719.02,3023.5,5.30988,261.40100,0.000,0.0,0.0,0.0,...,0.0,0.06780,0.06780,-0.00003,0.000070,-0.16899,起钻,2020-01-08 14:01:05,3,0.0
4,2020-01-08 14:01:08,3023.54,1719.02,3023.5,5.57726,793.15399,203.975,0.0,0.0,0.0,...,0.0,0.06780,0.06780,0.00000,0.000040,0.16400,起钻,2020-01-08 14:01:08,4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69318,2020-01-10 23:59:48,3023.54,2907.00,3023.5,34.62330,258.01701,0.000,0.0,0.0,0.0,...,0.0,0.87451,0.87451,-0.00005,0.099479,-0.12800,关井停钻,2020-01-10 23:59:48,69318,0.0
69319,2020-01-10 23:59:51,3023.54,2907.00,3023.5,34.62330,258.01701,0.000,0.0,0.0,0.0,...,0.0,0.78501,0.78501,-0.00002,0.099429,-0.09099,关井停钻,2020-01-10 23:59:51,69319,0.0
69320,2020-01-10 23:59:54,3023.54,2907.00,3023.5,34.62330,258.01701,0.000,0.0,0.0,0.0,...,0.0,0.69092,0.69092,-0.00001,0.099409,0.05700,关井停钻,2020-01-10 23:59:54,69320,0.0
69321,2020-01-10 23:59:57,3023.54,2907.00,3023.5,34.62330,258.01701,0.000,0.0,0.0,0.0,...,0.0,0.58613,0.58613,-0.00001,0.099399,0.10499,关井停钻,2020-01-10 23:59:57,69321,0.0
69322,2020-01-11 00:00:00,3023.54,2907.00,3023.5,34.62330,258.01701,0.000,0.0,0.0,0.0,...,0.0,0.58613,0.58613,0.00003,0.099389,0.04900,关井停钻,2020-01-11 00:00:00,69322,0.0

In [3]:
df['溢流'].value_counts()

0.0    50581
0.5    16438
1.0     2304
Name: 溢流, dtype: int64

将井1中的数据变为int类型，也直接将0.5变为0

In [4]:
df['溢流'] = df['溢流'].astype(int)

In [5]:
df['溢流'].value_counts()

0    67019
1     2304
Name: 溢流, dtype: int64

In [4]:
readpath2 = r'/home/klmyty/code/ML/data/溢流数据_clean/清洗后数据3_溢流.csv'
df2 = pd.read_csv(readpath2,encoding='GBK')
df2

,时间,井深(8004) m,钻头位置(8005) m,迟到井深(8006) m,大钩高度(8008) m,大钩负荷(8010) kN,钻压(8011) kN,转盘转速(8012) RPM,扭矩(8013) kN.m,累计泵冲总和(8017) stk,...,出口温度(8107) DEG.C,入口电导(8108) s/m,出口电导(8109) s/m,入口流量(8110) L/s,出口流量(百分)(8137) %,出口流量(8111) L/s,总池体积(8112) m3,全烃(8219) %,工况,溢流
0,2020-01-21 12:59:01,3579.26,2250.12,3579.26,36.42999,189.28601,0,0.077,5.00500,0,...,18.08801,0,1.09000,0,0.00000,0,-9999,-9999,关井停钻,0
1,2020-01-21 12:59:03,3579.26,2250.12,3579.26,36.42999,189.28601,0,0.077,5.00500,0,...,18.08801,0,1.09000,0,0.00000,0,-9999,-9999,关井停钻,0
2,2020-01-21 12:59:05,3579.26,2250.12,3579.26,36.42999,189.47701,0,0.077,5.00500,0,...,18.08801,0,1.87999,0,0.00000,0,-9999,-9999,关井停钻,0
3,2020-01-21 12:59:07,3579.26,2250.12,3579.26,36.42999,189.28600,0,0.077,5.00500,0,...,18.08801,0,1.87999,0,0.00000,0,-9999,-9999,关井停钻,0
4,2020-01-21 12:59:09,3579.26,2250.12,3579.26,36.42999,176.85801,0,0.077,5.00001,0,...,18.09401,0,1.09000,0,0.00000,0,-9999,-9999,关井停钻,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5836,2020-01-21 16:16:50,3579.26,2250.57,3579.26,-80.13300,2.66759,0,0.077,5.00499,0,...,15.33800,0,3.75000,0,1.87200,0,-9999,-9999,关井停钻,0
5837,2020-01-21 16:16:52,3579.26,2250.57,3579.26,-80.13300,2.66759,0,0.077,5.00000,0,...,15.35600,0,3.75000,0,1.88099,0,-9999,-9999,关井停钻,0
5838,2020-01-21 16:16:54,3579.26,2250.57,3579.26,-80.13300,2.66759,0,0.077,5.00499,0,...,15.33800,0,4.53000,0,1.87200,0,-9999,-9999,关井停钻,0
5839,2020-01-21 16:16:56,3579.26,2250.57,3579.26,-80.13300,2.66759,0,0.077,5.00499,0,...,15.36900,0,3.75000,0,1.87200,0,-9999,-9999,关井停钻,0
5840,2020-01-21 16:16:58,3579.26,2250.57,3579.26,-80.13300,2.66759,0,0.077,5.00499,0,...,15.36900,0,3.75000,0,1.87200,0,-9999,-9999,关井停钻,0

找两个井的数据中的特征有哪些不同

In [10]:
set1 = set(df.columns)
set2 = set(df2.columns)
# find difference between the sets
difference = set1.difference(set2)
print("Elements in list1 but not in list2:", difference)
difference2 = set2.difference(set1)
print("Elements in list1 but not in list2:", difference2)

Elements in list1 but not in list2: {'硫化氢4(8210) ppm', '池体积4(8116) m3', '硫化氢1(8207) ppm', 'index', '硫化氢2(8208) ppm', '累计流量', '池体积3(8115) m3', '时间.1', '硫化氢3(8209) ppm', 'DC指数(8023) None', '总池体积差', '甲烷(8212) %', '流量差', '池体积2(8114) m3', '池体积5(8117) m3'}
Elements in list1 but not in list2: {'垂直井深(8027) m', '录井钻头垂深(8031) m', '迟到泵冲数(8029) stk', '累计泵冲总和(8017) stk'}

In [11]:
df[['池体积5(8117) m3', '池体积4(8116) m3', '甲烷(8212) %', '流量差', '硫化氢2(8208) ppm', '池体积3(8115) m3', '硫化氢3(8209) ppm', '池体积2(8114) m3', '硫化氢1(8207) ppm', 'DC指数(8023) None', '总池体积差', '累计流量', '硫化氢4(8210) ppm', '时间.1', 'index']]

,池体积5(8117) m3,池体积4(8116) m3,甲烷(8212) %,流量差,硫化氢2(8208) ppm,池体积3(8115) m3,硫化氢3(8209) ppm,池体积2(8114) m3,硫化氢1(8207) ppm,DC指数(8023) None,总池体积差,累计流量,硫化氢4(8210) ppm,时间.1,index
0,7.51121,44.08130,0.06780,0.00000,0.0,14.30070,0.0,29.60760,0.0,0.600094,0.00000,0.000000,0.0,2020-01-08 14:00:56,0
1,7.51121,44.17170,0.06780,0.00008,0.0,14.30169,0.0,29.59060,0.0,0.600094,0.07200,0.000000,0.0,2020-01-08 14:00:59,1
2,7.51121,44.13111,0.06780,-0.00001,0.0,14.29109,0.0,29.64020,0.0,0.600094,0.26399,0.000080,0.0,2020-01-08 14:01:02,2
3,7.51121,44.10251,0.06780,-0.00003,0.0,14.26309,0.0,29.65459,0.0,0.600094,-0.16899,0.000070,0.0,2020-01-08 14:01:05,3
4,7.51121,44.12551,0.06780,0.00000,0.0,14.23339,0.0,29.66299,0.0,0.600094,0.16400,0.000040,0.0,2020-01-08 14:01:08,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69318,12.64170,34.03089,0.87451,-0.00005,0.0,16.77121,0.0,35.67291,0.0,0.600094,-0.12800,0.099479,0.0,2020-01-10 23:59:48,69318
69319,12.64170,34.05718,0.78501,-0.00002,0.0,16.74391,0.0,35.62972,0.0,0.600094,-0.09099,0.099429,0.0,2020-01-10 23:59:51,69319
69320,12.64170,34.11937,0.69092,-0.00001,0.0,16.73991,0.0,35.62893,0.0,0.600094,0.05700,0.099409,0.0,2020-01-10 23:59:54,69320
69321,12.62510,34.19547,0.58613,-0.00001,0.0,16.71742,0.0,35.63842,0.0,0.600094,0.10499,0.099399,0.0,2020-01-10 23:59:57,69321
69322,12.62510,34.25356,0.58613,0.00003,0.0,16.70142,0.0,35.64532,0.0,0.600094,0.04900,0.099389,0.0,2020-01-11 00:00:00,69322

In [12]:
df['硫化氢2(8208) ppm'].value_counts()

0.0    69323
Name: 硫化氢2(8208) ppm, dtype: int64

In [13]:
df['硫化氢3(8209) ppm'].value_counts()

0.00000    69314
0.00004        5
0.00014        4
Name: 硫化氢3(8209) ppm, dtype: int64

In [14]:
df2[['累计泵冲总和(8017) stk', '迟到泵冲数(8029) stk', '录井钻头垂深(8031) m', '垂直井深(8027) m']]

      累计泵冲总和(8017) stk  迟到泵冲数(8029) stk  录井钻头垂深(8031) m  垂直井深(8027) m
0                    0             4501         2250.12       3579.26
1                    0             4501         2250.12       3579.26
2                    0             4501         2250.12       3579.26
3                    0             4501         2250.12       3579.26
4                    0             4501         2250.12       3579.26
...                ...              ...             ...           ...
5836                 0             4502         2250.57       3579.26
5837                 0             4502         2250.57       3579.26
5838                 0             4502         2250.57       3579.26
5839                 0             4502         2250.57       3579.26
5840                 0             4502         2250.57       3579.26

[5841 rows x 4 columns]

In [15]:
df2['累计泵冲总和(8017) stk'].value_counts()

0    5841
Name: 累计泵冲总和(8017) stk, dtype: int64

In [16]:
df2['垂直井深(8027) m'].value_counts()

3579.26    5841
Name: 垂直井深(8027) m, dtype: int64

# 查看两个井的标签

In [18]:
print("井1数据大小",df.shape)
print("井3数据大小",df2.shape)

井1数据大小 (69323, 45)
井3数据大小 (5841, 34)

In [5]:
print("井1溢流标签\n",df['溢流'].value_counts())
print("井3溢流标签\n",df2['溢流'].value_counts())

井1溢流标签
 0.0    50581
0.5    16438
1.0     2304
Name: 溢流, dtype: int64
井3溢流标签
 0    3961
1    1880
Name: 溢流, dtype: int64

<font color='red'> 井1井3的数据量相差有些大，可能造成错误率升高，后续想办法修改</font>

## 井1为水侵，井3为气侵 故井1的1还为1，井3的1为2

In [6]:
df2.loc[df2['溢流']==1,'溢流'] = 2

In [7]:
print("井3溢流标签\n",df2['溢流'].value_counts())

井3溢流标签
 0    3961
2    1880
Name: 溢流, dtype: int64

# 合并井1井3

In [10]:
data = pd.concat([df, df2], join="inner")

# Select the columns you want to keep
data = data[['井深(8004) m', '迟到井深(8006) m', '大钩高度(8008) m', '全烃(8219) %', '入口温度(8106) DEG.C', '时间', '泵冲次1(8059) spm', '出口密度(8105) g/cm3', '套管压力(8019) MPa', '钻时(8020) min/m', '立管压力(8018) MPa', '钻压(8011) kN', '入口流量(8110) L/s', '出口温度(8107) DEG.C', '钻头位置(8005) m', '入口密度(8104) g/cm3', '扭矩(8013) kN.m', '大钩负荷(8010) kN', '总池体积(8112) m3', '溢流', '转盘转速(8012) RPM']]

print(data)

      井深(8004) m  迟到井深(8006) m  大钩高度(8008) m  全烃(8219) %  入口温度(8106) DEG.C  \
0        3023.54       3023.50       5.46742      0.0678          48.94150
1        3023.54       3023.50       5.44833      0.0678          48.91951
2        3023.54       3023.50       5.31942      0.0678          48.91951
3        3023.54       3023.50       5.30988      0.0678          48.94150
4        3023.54       3023.50       5.57726      0.0678          48.91951
...          ...           ...           ...         ...               ...
5836     3579.26       3579.26     -80.13300  -9999.0000          37.93501
5837     3579.26       3579.26     -80.13300  -9999.0000          37.94500
5838     3579.26       3579.26     -80.13300  -9999.0000          37.93000
5839     3579.26       3579.26     -80.13300  -9999.0000          37.93000
5840     3579.26       3579.26     -80.13300  -9999.0000          37.93500

                       时间  泵冲次1(8059) spm  出口密度(8105) g/cm3  套管压力(8019) MPa  \
0     2020-01-08 14:00:56             0.0           1.87959           0.000
1     2020-01-08 14:00:59             0.0           1.87959           0.000
2     2020-01-08 14:01:02             0.0           1.88025           0.000
3     2020-01-08 14:01:05             0.0           1.88025           0.000
4     2020-01-08 14:01:08             0.0           1.88025           0.000
...                   ...             ...               ...             ...
5836  2020-01-21 16:16:50             0.0           1.43694           0.012
5837  2020-01-21 16:16:52             0.0           1.43694           0.012
5838  2020-01-21 16:16:54             0.0           1.43694           0.012
5839  2020-01-21 16:16:56             0.0           1.43694           0.012
5840  2020-01-21 16:16:58             0.0           1.43694           0.012

      钻时(8020) min/m  ...  钻压(8011) kN  入口流量(8110) L/s  出口温度(8107) DEG.C  \
0            7.98587  ...        0.000             0.0          38.27520
1            7.98587  ...        0.000             0.0          38.26581
2            7.98587  ...        0.000             0.0          38.26581
3            7.98587  ...        0.000             0.0          38.27520
4            7.98587  ...      203.975             0.0          38.26581
...              ...  ...          ...             ...               ...
5836        14.46670  ...        0.000             0.0          15.33800
5837        14.46670  ...        0.000             0.0          15.35600
5838        14.46670  ...        0.000             0.0          15.33800
5839        14.46670  ...        0.000             0.0          15.36900
5840        14.46670  ...        0.000             0.0          15.36900

      钻头位置(8005) m  入口密度(8104) g/cm3  扭矩(8013) kN.m  大钩负荷(8010) kN  \
0          1719.02           2.03658        0.00000      228.40900
1          1719.02           2.03661        0.00000      256.32600
2          1719.02           2.03661        0.00000      239.40600
3          1719.02           2.03658        0.00000      261.40100
4          1719.02           2.03661        0.00000      793.15399
...            ...               ...            ...            ...
5836       2250.57           1.80652        5.00499        2.66759
5837       2250.57           1.80854        5.00000        2.66759
5838       2250.57           1.81055        5.00499        2.66759
5839       2250.57           1.81055        5.00499        2.66759
5840       2250.57           1.80854        5.00499        2.66759

      总池体积(8112) m3   溢流  转盘转速(8012) RPM
0         102.26800  0.0           0.000
1         102.34000  0.0           0.000
2         102.60399  0.0           0.000
3         102.43500  0.0           0.000
4         102.59900  0.0           0.000
...             ...  ...             ...
5836    -9999.00000  0.0           0.077
5837    -9999.00000  0.0           0.077
5838    -9999.00000  0.0           0.077
5839    -9999.00000  0.0           0.077
5840    -9999.00000  0.0           0.077

[75164 rows x 21 columns]

In [9]:
type(df_concat)

pandas.core.frame.DataFrame

判断是否有列的数值一直没有变化

In [25]:
for column in data.columns:
    if data[column].value_counts().count() == 1:
        print(column)

发现没有一直没有变化的列

变化较少的列，少于3的列

In [28]:
for column in data.columns:
    number = data[column].value_counts().count()
    if number <= 3:
        print(column,number)

井深(8004) m 2
迟到井深(8006) m 2
钻时(8020) min/m 2
入口电导(8108) s/m 2

保存合并好的井1井3数据

In [11]:
data.to_csv('井1井3合并.csv', index=False, mode='w', header=True,encoding='GBK')